.list-group {
    text-align: left;
    width: 65%;
    margin-top: 6em;
    margin-left: 2em;
    .list-group-item{
        display: flex;
        height: 7em;
        justify-content: start;
    .friendAvatar{
        background-color: white;
        width: 30%;
        color: rebeccapurple;
    }
    .displayMessage{
        padding-left: 1em;
    }
    }

}